<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Verification</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
      font-family: 'Inter', sans-serif;
      text-align: center;
      color: #424040;
    }
    .container {
      background-color: #fff;
      border: 1px solid #cecece;
      border-radius: 20px;
      width: 500px;
      margin: 40px auto;
      padding: 50px 40px;
    }
    h1 {
      font-size: 24px;
      font-weight: 600;
      color: #111;
    }
    p {
      font-size: 15px;
      line-height: 22px;
    }
    .btn {
      display: inline-block;
      background-color: #FF5E62;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 8px;
      font-weight: 700;
      font-size: 14px;
    }
    .footer {
      background-color: #f2eff3;
      padding: 20px;
      border-radius: 8px;
      margin-top: 40px;
    }
    section{
   margin-top: 3px;
    }
    section img{
      cursor: pointer;
    }
    a{
        text-decoration: none;
    }
    .footer p {
      font-size: 12px;
      color: #84828e;
    }
  </style>
</head>
<body>
  <div class="container">
     <h4>LITE&nbsp;NOTE</h4>
    <p
    style="font-size: 2rem; font-weight: 1000; "
    ><%=code%></p>
    <h1>Please verify your email</h1>
    <p>To use Litenote, click the verification button. This helps keep your account secure, This Link and Button expires in <%=minute %> minutes</p>
    <a
    style="color: white; text-decoration: none;"
    href="<%= frontendUrl %>/verify/<%=email%>/<%=token %>" class="btn">Verify my account</a>
<p>Or Copy the link below</p>
<span
style="color: #777777;"
><%= frontendUrl %>/verify/<%=email%>/<%=token %></span>
    <p>Thanks for signing up with Lite Note! Copy the One-Time-Passcode above, then click the button to confirm your email address and start your writing journey.</p>
    <div class="footer">
      <p>Need Help?<br />Please send feedback or bug information to nextverse74@gmail.com</p>
    </div>
    <small style="font-size: 0.7rem;">Pls feel free to contact us on any of our platforms</small>
    <section>

        <img 
        width="5%"
        src="https://res.cloudinary.com/dxbrs5gvb/image/upload/v1726470005/Social%20Logos/xrjpxzns8vc76lh7h9f3.png" loading="lazy">
        <img width="5%" src="https://res.cloudinary.com/dxbrs5gvb/image/upload/v1726470269/Social%20Logos/usb64olpfsoznvyc34ci.png" loading="lazy">
        <img width="5%" src="https://res.cloudinary.com/dxbrs5gvb/image/upload/v1726470270/Social%20Logos/rvrpqjhdsnoy4hd8s0ds.png" loading="lazy">
        <img  width="5%" src="https://res.cloudinary.com/dxbrs5gvb/image/upload/v1726470270/Social%20Logos/dyudqpwworgmgox6dvae.png" alt="" loading="lazy">
        <img 
        width="5%"
        src="https://res.cloudinary.com/dxbrs5gvb/image/upload/v1726470271/Social%20Logos/l4wxlhfhvttau1ukkzqe.png" alt="" loading="lazy"/>
            </section>
  </div>
</body>
</html>